<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/user_info', user: current_user %>
      <%= render 'books/new', book: @book1 %>
    </div>

    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>